<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP-RecommendationEngine</title>
    <script type="text/javascript" src="/static/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/scripts/dashboard.js"></script>
    <link rel = "stylesheet"
   type = "text/css"
   href = "/static/css/dashboardstyle.css" />
</head>
<body>
<div id="headerview">
<img src="/static/images/nlp-icon.jpg" class="circular-img">
 <input type="text" id="searchtxt" placeholder={{searchtxt}}>
    <button id="searchbtn">Search</button>
</div>
<div id="resultview"></div>
<div></div>

</body>
</html>